<%= simple_form_for [:admin, @article], :html => { :multipart => true } do |f| %>
  <%= f.error_notification %>

  <%= f.input :status, collection: Article.statuses.keys, default: 0 if @article.persisted? %>

  <%= f.input :category_id, collection: Category.all %>

  <%= f.input :title, placeholder: 'Write your article title here' %>
  <%= image_tag f.object.cover_image.url(:thumb) unless f.object.cover_image.blank? %>
  <%= f.input :cover_image, as: :file %>
  <%= f.input :description, placeholder: 'Write your description here' %>

  <h4>Sections</h4>

  <div class="" id="sections">
    <%= f.simple_fields_for :sections do |ff| %>
      <%= render partial: '/admin/sections/section', locals: { ff: ff } %>
    <% end %>
  </div>

  <% if @article.persisted? %>
    <div>
      <%= link_to 'Add text section', new_admin_article_section_path(@article, section_type: 'text'), remote: true, class: 'btn btn-outline-primary' %>
      <%= link_to 'Add image section', new_admin_article_section_path(@article, section_type: 'image'), remote: true, class: 'btn btn-outline-primary' %>
    </div>
  <% end %>
  <br>
  <%= f.submit 'Save', class: 'btn btn-outline-primary' %>
  <%= link_to 'Delete', admin_article_path(@article), class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } if @article.persisted? %>

<% end %>
