<table class="table">
  <thead>
    <tr>
      <th><%= link_to 'Add', new_admin_article_path, class: 'btn btn-primary btn-sm' %></th>
    </tr>
  </thead>
</table>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Category</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.id %></td>
          <td><%= article.title %></td>
          <td><%= article.category.name unless article.category_id.nil? %></td>
          <td><%= article.status %></td>
          <td><%= link_to 'Edit', edit_admin_article_path(article) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
