<div class="col-sm-12 col-md-6 col-lg-4">
  <div class="article-preview box-shadow">
    <%= image_tag article.cover_image.url(:medium), class: 'img-fluid' %>
    <h4><%= article.title %> <%= link_to '[Edit]', edit_admin_article_path(article) if current_user %></h4>
    <p><%= article.description %></p>
    <div class="text-center">
      <%= link_to "Read more", article_path(article), class: 'btn btn-outline-primary' %>
    </div>
  </div>
</div>
