<section id="update_email">
  <h4>Update email</h4>
  <%= simple_form_for @admin, url: admin_update_email_path do |f| %>
    <%= f.error_notification %>

    <%= f.input :email %>
    <%= f.input :password %>

    <%= f.submit 'Update', class: 'btn btn-outline-primary' %>
  <% end %>
</section>

<hr>

<section id="update_password">
  <h4>Update password</h4>
  <%= simple_form_for :admin, url: admin_update_password_path do |f| %>

    <%= f.input :current_password %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <%= f.submit 'Update', class: 'btn btn-outline-primary' %>
  <% end %>
</section>
