<h4>Update password</h4>
<%= simple_form_for :admin, url: admin_update_password_path do |f| %>
  <%= f.error_notification %>

  <%= f.input :current_password %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.submit 'Update', class: 'btn btn-outline-primary' %>
<% end %>
