<div class="article_section">
  <% case ff.object.section_type %>
  <% when 'text' %>
      <%= ff.input :text, label: false, input_html: { class: 'textarea-resizable' } %>
      <%= ff.hidden_field :section_type %>
      <%= ff.hidden_field :_destroy %>
  <% when 'image' %>
      <%= image_tag ff.object.image.url(:thumb) unless ff.object.image.blank? %>
      <%= ff.input :image, as: :file %>
      <%= ff.hidden_field :section_type %>
      <%= ff.hidden_field :_destroy %>
  <% else %>
      <p>This section is not defined yet</p>
      <%= ff.object.section_type %>
  <% end %>
  <a href="#" class="delete_section remove_margin_from_top">Delete section</a>
</div>
