<!DOCTYPE html>
<html>
  <head>
    <title>AngelicaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/navbar' %>
      <%= render 'shared/messages' %>
      <div class="col-sm-12">
        <div class="col-xs-3">
          <%= render 'shared/admin/navs' %>
        </div>
        <div class="col-sm-9">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
